<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOARD</title>
</head>
<body>
  <div class="inner">
    <div class="board_container">
      <div class="board_header">
        <h1>게시판</h1>
      </div>
      <div class="board_write">
        <span>현재 등록 글: <%= postCnts %></span>
        <a href="/board/write">글쓰기</a>
      </div>
      <div class="board_body">
        <ul class="board">
          <% if (postCnts > 0) { %>
            <% for (let i = 0; i < postCnts; i++) { %>
              <li>
                <div class="title"><%= POST[i].title %></div>
                <div class="content"><%= POST[i].content %></div>
                <div class="foot">
                  <a href="board/modify/<%= POST[i].title %>">수정</a>
                  <a href="#" onclick="deletePost('<%= POST[i].title %>')">삭제</a>
                </div>
              </li>
            <% }%>
          <% } else { %>
            <li>
              <title>글이 없습니다</title>
            </li>
          <% }%>
        </ul>
      </div>
    </div>
  </div>
  <script>
    function deletePost(title) {
      fetch(`/board/delete/${title}`,{
        method: 'DELETE',
        headers: {
          'Content-type':'application/json'
        }
      }).then((res)=>{
        location.href = '/board'
      });
    }
  </script>
</body>
</html>